# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
dist/
build/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
.env/
.tox/

# Editors/OS
.DS_Store
.idea/
.vscode/
